Res_Kitchen/Kitchen_Fries/Connected Services/ServiceReference1/DataLayer.DtoLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoGood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoGood" nillable="true" type="tns:DtoGood" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoGood" nillable="true" type="tns:ArrayOfDtoGood" />
  <xs:complexType name="DtoGood">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoGood" nillable="true" type="tns:DtoGood" />
  <xs:complexType name="ArrayOfDtoUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoUser" nillable="true" type="tns:DtoUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoUser" nillable="true" type="tns:ArrayOfDtoUser" />
  <xs:complexType name="DtoUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoUser" nillable="true" type="tns:DtoUser" />
</xs:schema>