Res_Terminal/Client_Wpf/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" />
  <xs:complexType name="ServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceUser" nillable="true" type="tns:ServiceUser" />
  <xs:complexType name="ArrayOfServiceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceMessage" nillable="true" type="tns:ServiceMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceMessage" nillable="true" type="tns:ArrayOfServiceMessage" />
  <xs:complexType name="ServiceMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" minOccurs="0" name="Message" nillable="true" type="q1:DtoGood" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:ServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceMessage" nillable="true" type="tns:ServiceMessage" />
</xs:schema>