Res_Kitchen/Kitchen_Side/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" minOccurs="0" name="GetGoodsResult" nillable="true" type="q1:ArrayOfDtoGood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" minOccurs="0" name="GetUsersResult" nillable="true" type="q2:ArrayOfDtoUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" minOccurs="0" name="list" nillable="true" type="q3:ArrayOfDtoGood" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" minOccurs="0" name="user" nillable="true" type="q4:DtoUser" />
        <xs:element minOccurs="0" name="terminalNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="ClientConnectResult" nillable="true" type="q5:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="user" nillable="true" type="q6:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="GetNewMessagesResult" nillable="true" type="q7:ArrayOfServiceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="newMessage" nillable="true" type="q8:ServiceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNewMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="user" nillable="true" type="q9:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>