Res_Kitchen/Kitchen_Main/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Contract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataLayer.DtoLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IContract_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_GetGoods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGoods" />
  </wsdl:message>
  <wsdl:message name="IContract_GetGoods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGoodsResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IContract_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_SendOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOrder" />
  </wsdl:message>
  <wsdl:message name="IContract_SendOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_ClientConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientConnect" />
  </wsdl:message>
  <wsdl:message name="IContract_ClientConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_GetNewMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessages" />
  </wsdl:message>
  <wsdl:message name="IContract_GetNewMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_SendNewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNewMessage" />
  </wsdl:message>
  <wsdl:message name="IContract_SendNewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IContract_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/TestConnection" message="tns:IContract_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/TestConnectionResponse" message="tns:IContract_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetGoods">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetGoods" message="tns:IContract_GetGoods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetGoodsResponse" message="tns:IContract_GetGoods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetUsers" message="tns:IContract_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetUsersResponse" message="tns:IContract_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/SendOrder" message="tns:IContract_SendOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/SendOrderResponse" message="tns:IContract_SendOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ClientConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/ClientConnect" message="tns:IContract_ClientConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/ClientConnectResponse" message="tns:IContract_ClientConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetNewMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/GetNewMessages" message="tns:IContract_GetNewMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/GetNewMessagesResponse" message="tns:IContract_GetNewMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendNewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/SendNewMessage" message="tns:IContract_SendNewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/SendNewMessageResponse" message="tns:IContract_SendNewMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/RemoveUser" message="tns:IContract_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/RemoveUserResponse" message="tns:IContract_RemoveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IContract" type="tns:IContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/IContract/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGoods">
      <soap12:operation soapAction="http://tempuri.org/IContract/GetGoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IContract/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOrder">
      <soap12:operation soapAction="http://tempuri.org/IContract/SendOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientConnect">
      <soap12:operation soapAction="http://tempuri.org/IContract/ClientConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewMessages">
      <soap12:operation soapAction="http://tempuri.org/IContract/GetNewMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendNewMessage">
      <soap12:operation soapAction="http://tempuri.org/IContract/SendNewMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/IContract/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Contract">
    <wsdl:port name="NetTcpBinding_IContract" binding="tns:NetTcpBinding_IContract">
      <soap12:address location="net.tcp://localhost:9292/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9292/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WUNDERWAFFE\Masti</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>